@import url('site.css');
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-pink {
    background-color: #ff69b4 !important; 
}

.btn-pink {
    background-color: #ff69b4;
    border-color: #ff69b4;
    color: white;
}

    .btn-pink:hover {
        background-color: #ff4fa0;
        border-color: #ff4fa0;
    }

.text-pink {
    color: #ff69b4 !important;
}
